# Audio recording
pyaudio>=0.2.11
numpy>=1.21.0
openai-whisper>=20230117
torch>=1.9.0

# Speech recognition and translation
googletrans==4.0.0rc1
SpeechRecognition>=3.8.1
ffmpeg-python>=0.2.0
scipy>=1.7.0

# GUI and utilities
pyautogui
Pillow
plyer
mss
sounddevice>=0.4.1
soundfile>=0.10.3
translate
opencv-python